*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

header{
    background-color: cadetblue;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}
.todoDivArea{
    display:flex;
    justify-content: center;
}
.todoDiv{
    padding:20px;
    width: 250px;
    border:1px solid cadetblue;
    border-radius: 30px;
    margin-top: 20px;
}
.todoText{
    border:none;
}
.todoButton{
    width: 100px;
}
.contentDiv{
    border: 1px solid cadetblue;
    border-radius: 30px;
    min-width: 250px;
    text-align: center;
    padding: 20px;
}